{% extends "base.html.twig" %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript">

    $(document).ready(function () {
                let $container = $('div#vehicule_form_Roues ')
                let index = $container.find(':input').length;
                if (index == 0) {
                    for (let i = 0; i < 4; i++) {
                        addRoue($container);
                    }
                }

                function addRoue($container) {
                    let template = $container.attr('data-prototype')
                        .replace(/__name__label__/g, 'Roue n°' + (index + 1))
                        .replace(/__name__/g, index)
                    let $prototype = $(template);
                    $container.append($prototype);
                    index++;
                }
            })
</script>
{% endblock %}
{% block body %}
<div class="container">
<h2>Création d'un nouveau véhicule</h2>
<p>{{message}}</p>

{# <div class="col-4"> #}
<div class="col-4">
{{form(form)}}
{{form_row(form.Roues)}}
</div>
{# </div> #}

</div>
{% endblock %}
